.line {
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(107,61,255,1) 84%);
    border-right: none;
    height: 100px;
    width: 1px;
}

.circle {
    background: rgb(107,61,255);
    background: linear-gradient(180deg, rgba(107,61,255,1) 42%, rgba(164,25,226,1) 82%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}.circle span {
    color: aliceblue;
    font-size: 20px;
}