@font-face {
  font-family: 'AvenirNext-Bold';
  src: url('./../../../../../../AvenirNext-Bold.ttf') format('truetype');
}

#backgroundImage {
  background-image: url('./../../../public/img/fondoAbout.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 10%;
}

