#fontSkill {
    font-family: "Inter", sans-serif;
}

#rotate {
  transform: rotate(-30deg);

}

#RightAnimation {
  animation: right 50s linear infinite;
  width: calc(100px * 30);
}

@keyframes right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100px * 30 + 100vw));
  }
}

#LeftAnimation {
  animation: left 50s linear infinite;
  width: calc(100px * 30);
}

@keyframes left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100px * 30 - 100vw));
  }
}
